.oneproject {
  width: 90vw;
  height: 220px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.oneproject .text {
  height: 180px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}
.left .text {
  margin-right: 150px;
  align-items: flex-start;
}
.left img {
  margin-left: 100px;
}
.right img {
  margin-right: 100px;
}
.right .text {
  margin-left: 150px;
  align-items: flex-end;
  text-align: right;
}

.Tilt,
.Tilt img {
  width: 380px;
  height: 240px;
  margin-right: 100px;
}

@media only screen and (max-width: 600px) {
  .oneproject {
    width: 90vw;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Tilt,
  .Tilt img {
    width: 120px;
    height: 100px;
    margin-right: 0px;
  }
  .oneproject .text {
    height: 100px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .left .text {
    margin-left: 20px;
    align-items: flex-start;
  }
  .left img {
    margin-left: 0px;
    margin-right: 0;
  }
  .right img {
    margin-right: 0px;
    margin-left: 0px;
  }
  .right .text {
    margin-right: 20px;
    align-items: flex-end;
    text-align: right;
  }
}
