.cloud {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 15vw;
  right: 15vw;
  top: 25vh;
  bottom: 12vh;
}

.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section1 {
  width: 70vw;
  height: 75vh;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 12vh;
  margin-bottom: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section1 img {
  width: 50px;
  height: 250px;
  margin-left: 5vw;
  margin-top: 5vh;
  z-index: 2;
}
.line {
  height: 7px;
  width: 100vw;
  background-color: #af3524;
  position: absolute;
  top: 70vh;
}
.section1 .text {
  width: 40vw;
  margin-top: 5vh;
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.section1 .text h1 {
  width: 30vw;
  margin-left: 5vw;
  margin-bottom: 3vh;
}
.section1 .text p {
  width: 30vw;
  margin-left: 7vw;
  margin-top: 1vh;
}

.section2 {
  width: 70vw;
  height: 95vh;
  padding-top: 5vw;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section2 .text {
  width: 60vw;
  margin-left: 5vw;
  margin-right: 8vw;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.section2 img {
  width: 400px;
}
