.side-drawer {
  width: 40%;
  height: 100%;
  background: black;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 1s ease-out;
}
.side-drawer ul {
  width: 100%;
  height: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.side-drawer li {
  margin-top: 3rem;
}
.side-drawer .linktext {
  color: #af3524;
  font-family: "monarcha", serif;
  font-weight: 00;
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  list-style: none;
  text-decoration: none;
}

.side-drawer.open {
  transform: translateX(0%);
}

.drawer-toggle-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3vh;
  margin-right: 3vw;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 769px) {
}

/* Mobile */
@media (max-width: 321px) {
}
