.projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projects h1 {
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.proj-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .projects {
    width: 100vw;
    height: 150vh;
  }
  .projects h1 {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
}
